.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 80);
  color: white;
}
.nav-links {
  display: flex;
  width: 50%;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

img {
  display: block;
  border-radius: 8px;
  width: 50%;
}

.center {
  margin: 1%;
  width: 50%;
  padding: 10px;
}
